<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BRoCAF"
        tools:targetApi="31">
        <activity
            android:name=".laporan_pemasukkan_own_activity"
            android:exported="false" />
        <activity
            android:name=".tampilan_utama_kp_activity"
            android:exported="false" />
        <activity
            android:name=".report_in_activity"
            android:exported="false" />
        <activity
            android:name=".transaksi_kp_activity"
            android:exported="false" />
        <activity
            android:name=".transaksi2_activity"
            android:exported="false" />
        <activity
            android:name=".transaksi1_activity"
            android:exported="false" />
        <activity
            android:name=".orderP_activity"
            android:exported="false" />
        <activity
            android:name=".transaksi_berhasil_activity"
            android:exported="false" />
        <activity
            android:name=".menu_matcha_activity"
            android:exported="false" />
        <activity
            android:name=".menu_mango_activity"
            android:exported="false" />
        <activity
            android:name=".menu_nasi_ayam_activity"
            android:exported="false" />
        <activity
            android:name=".menu_activity"
            android:exported="false" />
        <activity
            android:name=".HotDrinksActivity"
            android:exported="false" />
        <activity
            android:name=".SquashAndFloatActivity"
            android:exported="false" />
        <activity
            android:name=".MakananActivity"
            android:exported="false" />
        <activity
            android:name=".BobaActivity"
            android:exported="false" />
        <activity
            android:name=".DaftarStokBahanActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterasiActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".TampilanAwal_activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>